body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $grey-800;
}

/* Headers */
h1 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 50px;
  color: $grey-700;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  color: $grey-800;
}

/* Paragraphs */
.paragraph {
  &-footer {
    font-size: 14px;
    font-weight: 500;
    color: $grey-500;
  }
}
