.container {
  &-inputs {
    &:first-child {
      margin-bottom: 40px;
    }
  }

  &__form-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  &-empty {
    &-height {
      &-small {
        height: 8px;
      }
      &-medium {
        height: 12px;
      }
      &-big {
        height: 16px;
      }
      &-extra-big {
        height: 20px;
      }
    }

    &-width {
      &-small {
        width: 8px;
      }
      &-medium {
        width: 12px;
      }
      &-big {
        width: 16px;
      }
      &-extra-big {
        width: 20px;
      }
    }
  }
}
