.page {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    padding-top: 65px;
  }

  &__footer {
    padding: 15px 20px;
    text-align-last: center;
  }
}
