.infocard {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  padding: 50px;

  @media (max-width: 850px) {
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }

  &__info {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 850px) {
        margin-bottom: 0;
      }
    }

    &:first-child {
      @media (max-width: 850px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    @media (max-width: 375px) {
      width: 50% !important;
      margin-bottom: 20px !important;
    }

    &__svg {
      display: flex;
      margin-right: 15px;

      @media (max-width: 425px) {
        margin-right: 5px;
      }

      svg {
        fill: $gray-400;
        height: 35px;
        width: 35px;

        &.colored {
          fill: $orange;
        }
      }
    }

    &__text {
      p {
        &:nth-child(1) {
          font-family: $font-montserrat;
          font-size: 10px;
          text-transform: uppercase;
          color: $gray-200;
          font-weight: 700;
          letter-spacing: 1.1px;
          margin-bottom: 3px;
        }

        &:nth-child(2) {
          color: $gray-500;
          font-weight: 600;
          font-size: 14px;
        }

        &.colored {
          color: $orange;
        }
      }
    }
  }
}
