.instruction {
  display: flex;
  margin-bottom: 30px;

  &-box {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    background-color: $orange;
    border-radius: 3px;
    position: relative;
    margin-right: 15px;

    p {
      font-family: $font-playfair;
      font-weight: 700;
      font-size: 24px;
      color: $white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-text {
    p {
      line-height: 1.5;

      strong {
        font-weight: 600;
      }
    }
  }
}
