.main {
  flex: 1;
  margin-top: 50px;

  &__header {
    position: relative;

    &__row {
      display: flex;
    }

    &__svg {
      display: flex;
      padding-top: 5px;
      margin-right: 12px;
    }

    &__desciption {
      width: 60%;
    }
  }

  &__body {
    &__row {
      display: flex;
      justify-content: space-between;
    }

    &__col {
      &--1 {
        width: 60%;
      }

      &--2 {
        width: 24%;
      }
    }
  }
}

.footer {
  text-align: center;
  padding: 24px;
}
