/* Colors */
$white: #ffffff;
$black: #000000;

$gray-100: #bdbdbd;
$gray-200: #4f4f4f;
$gray-300: #333333;

$orange: #f2994a;

/* Fonts */
$font-montserrat: 'Montserrat', sans-serif;
$font-playfair: 'Playfair Display', serif;

/* Reponsive break points */
