.select-field {
  height: 100px;
  max-width: 240px;

  &__label {
    margin-bottom: 5px;

    label {
      font-size: 13px;
      font-weight: 600;
      color: $grey-700;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    height: 50px;
    position: relative;
    border-radius: 5px;
    border: 1px solid $grey-500;

    cursor: pointer;

    &__icon,
    &__dropdown-icon {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0px 10px;

      svg {
        fill: $grey-600;
      }
    }

    &__dropdown-icon {
      svg {
        background-color: $grey-300;
        border-radius: 5px;
      }
    }

    &__value {
      flex: 1;
      height: 100%;
      min-width: 0;

      display: flex;
      align-items: center;

      p {
        font-size: 17px;
        font-weight: 500;
        color: $grey-700;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__error {
    margin-top: 5px;
    font-size: 13.5px;
    font-weight: 500;
    color: $red-500;
  }
}
