.footer {
  padding: 24px;
  text-align-last: center;

  p {
    color: #b9bdcf;
    font-weight: 400;

    a {
      text-decoration: none;
      color: #b9bdcf;
      font-family: inherit;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
