.footer {
  padding: 24px;
  text-align-last: center;

  @media (max-width: 425px) {
    padding: 24px 0px;
  }

  p {
    color: #b9bdcf;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    @media (max-width: 320px) {
      font-size: 13px;
    }

    a {
      text-decoration: none;
      color: #b9bdcf;
      font-family: inherit;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
