*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  background-color: #181719;
  color: #ffffff;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
