.btn {
  text-decoration: none;
  display: inline-block;

  &-nav {
    &:link,
    &:visited {
      font-weight: 500;
      font-size: 18px;
      color: #ffffff;
      padding: 10px 0px;
    }

    &.active {
      &:link,
      &:visited {
        font-weight: 700;
        border-bottom: 2px solid #ffffff;
      }
    }
  }

  &-footer {
    color: #a9a9a9;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
